.container {
  position: relative;
  display: inline-block;
}

.trigger {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  margin-top: 16px;
  background: white;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 2px 8px rgba(28, 33, 98, 0.2);
  z-index: 10;
  font-size: small;
  color: #2b376d;
  padding: 12px;
  white-space: nowrap;
}

.alignRight {
  right: 0;
}

.alignLeft {
  left: 0;
}

.dropdown button {
  padding: 10px 14px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown button:hover {
  padding: 10px 14px;
  background: var(--color-blue-bg);
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}