.pageLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 24px;
    height: min-content;
}

.currentMilestone {
    border: 1px solid;

}

.cardContainer {
    display: flex;
    width: 100%;
    gap: 24px;
}

.cards {
    display: flex;
    gap: 24px;
    flex: 1;
}

.validComponent {
    background-color: white;
    border: 1px solid;
}

.pageTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Move QuickAccess to bottom at smaller screen widths */
@media (max-width: 1024px) {
    .pageTitle {
        flex-direction: column;
        padding-bottom: 24px;
    }
}