.userRole {
    color: #7e7e7e;
    font-size: 0.8rem;
}

.userProfileContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 12px;
}

.subMenuTitle {
    font-size: medium;
    padding-top: 10px;
}

.dropdownItem {
    display: flex;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.3s ease;
}

.dropdownItem:hover {
    background-color: var(--color-primary-50);
}

.logout {
    color: var(--color-error-600)
}

.logout:hover {
    background-color: var(--color-error-50);
}