.navContainer {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 8px;
}

.navItem {
    margin: 0;
    padding: 4px;
    border-radius: 10px;
}

.navLink {
    display: block;
    padding: 12px 12px;
    color: #333;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLink:hover {
    background-color: var(--color-neutral-grey-50);
    border-radius: 10px;
}

.navLink.active {
    background-color: var(--color-primary-50);
    color: var(--color-primary-600);
    border-radius: 10px;
}