.container {
    display: flex;
    gap: 12px;
    border-radius: 8px;
    width: 100%;
    font-size: 0.875rem;
    color: var(--color-neutral-grey-700);
    padding: 10px 12px;
    background-color: white;
    border: 1px solid var(--color-neutral-grey-200);
}

.icon {
    flex-shrink: 0;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    background: transparent;
}

.input::placeholder {
    color: var(--color-neutral-grey-400);
}
