.container {
    height: 100%;
    width: fit-content;
}

.quickAccessButtons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
}

.quickAccessButton {
    font-size: small;
    display: flex;
    gap: 12px;
    align-items: center;
    height: 24px;
    width: 24px;
}

.quickAccessButtonWrapper {
    display: flex;
    padding: 8px;
    font-size: small;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 42px;
    border-radius: 8px;
}

.quickAccessButtonWrapper:hover {
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.quickAccessTitle {
    color: #2b376d;
}