.container {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #e4e4e4;
    height: 100%;
    width: 100%;
}

.quickAccessButtons {
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.quickAccessButton {
    font-size: small;
    display: flex;
    gap: 12px;
    align-items: center;
    height: 24px;
    width: 24px;
}

.quickAccessButtonWrapper {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    font-size: small;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 42px;
}

.quickAccessButtonWrapper:hover {
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.quickAccessTitle {
    color: #2B376D;
}
