.userRole {
    color: #7e7e7e;
    font-size: 0.8rem;
}

.userProfileContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 12px;
}

.subMenuTitle {
    font-size: medium;
    padding-top: 10px;
}