.logoutButton {
    display: flex;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #e4e4e4;
    transition: all 0.3s ease;
}

.logoutButton:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease;
}
