.dropdown {
    position: relative;
    width: 120px;
    font-size: 14px;
    cursor: pointer;
    color: var(--color-neutral-grey-500);
}

.selected {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: var(--color-neutral-grey-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    margin-left: 8px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    border: 1px solid var(--color-neutral-grey-200);
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.option {
    padding: 6px 12px;
}

.option:hover {
    background-color: var(--color-primary-50);
}
