.currentMilestoneContainer {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
}

.currentMilestoneText {
    color: #2B376D;
    margin-bottom: 20px
}

.milestones {
    display: grid;
    grid-template-columns: 2fr 1fr 6fr 1fr 2fr;
}

.milestoneItemDescription {
    color: #6B7C93;
    font-size: small;
}

.milestoneItemDate {
    color: #A0AEC0;
    font-size: x-small;
}

.milestoneItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
