.currentMilestoneContainer {
    padding: 16px;
    width: 100%;
    border: 1px solid var(--color-neutral-grey-200);
    border-radius: 16px;
    background-color: white;
}

.currentMilestoneText {
    color: #2b376d;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.milestones {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 12px;
}

.milestoneItemDescription {
    color: #6b7c93;
    font-size: small;
}

.milestoneItemDate {
    color: #a0aec0;
    font-size: x-small;
}

.milestoneItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Hide next and previous milestones at 1024px and below */
@media (max-width: 1024px) {
    .milestones > .milestoneItem:first-child,
    .milestones > .milestoneItem:last-child {
        display: none;
    }

    .milestones {
        grid-template-columns: 1fr;
    }
}
