.container {
    display: flex;
    gap: 12px;
}

.currentMilestoneContainer {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
    width: 100%;
}

.currentMilestoneText {
    color: #2b376d;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.milestones {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 12px;
}

.milestoneItemDescription {
    color: #6b7c93;
    font-size: small;
}

.milestoneItemDate {
    color: #a0aec0;
    font-size: x-small;
}

.milestoneItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
