.tag {
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: 700;
    white-space: nowrap;
    height: fit-content;
}

/* --- Status Variants --- */

.scheduled {
    background-color: var(--color-neutral-grey-100);
    color: var(--color-neutral-grey-400);
}

.inProgress {
    background-color: var(--color-warning-100);
    color: var(--color-warning-500);
}

.waiting {
    background-color: var(--color-error-100);
    color: var(--color-error-500);
}

.internalReview {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);
}

.delivered {
    background-color: var(--color-success-100);
    color: var(--color-success-600);
}

.completed {
    background-color: var(--color-info-300);
    color: var(--color-info-800);
}

.revision {
    background-color: var(--color-neutral-grey-400);
    color: var(--color-neutral-grey-800);
}
