.container {
    background-color: white;
    border: 1px solid var(--color-neutral-grey-200);
    border-radius: 14px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-primary-900);
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-neutral-grey-600);
}

.icon {
    height: 40px;
    width: 40px;
    background-color: var(--color-primary-50);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--color-primary-900);
    font-weight: 500;
}

.question {
    background-color: var(--color-neutral-grey-50);
    border-radius: 8px;
    padding: 4px 12px;
    color: var(--color-neutral-grey-500);
    font-weight: 400;
    font-size: 16px;
}

.answer {
    background-color: var(--color-neutral-grey-100);
    padding: 8px 12px;
    color: var(--color-neutral-grey-500);
    font-size: 13px;
    border-radius: 8px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
