.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
}
