.search {
    background-color: white;
    border: 1px solid var(--color-neutral-grey-200);
    border-radius: 8px;
    width: 100%;
    font-size: 0.875rem;
    color: var(--color-neutral-grey-700);
    padding: 10px 12px;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
}

.filterTags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    gap: 12px;
}

.filterButton {
    padding: 8px 16px;
    border-radius: 24px;
    color: var(--color-neutral-grey-500);
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.filterButton:hover {
    border-color: var(--color-neutral-grey-400);
    background-color: var(--color-neutral-grey-100);
}

.filterButton.active {
    background-color: var(--color-primary-500);
    color: white;
    border-color: var(--color-primary-500);
}

.dropdownContainer {
    position: relative;
    width: 200px;
}

.dropdownButton {
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: white;
    color: var(--color-neutral-grey-500);
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
}

.dropdownButton:hover {
    border-color: var(--color-neutral-grey-400);
    background-color: var(--color-neutral-grey-100);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: white;
    border: 1px solid var(--color-neutral-grey-300);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdownOption {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.875rem;
    color: var(--color-neutral-grey-700);
}

.dropdownOption:hover {
    background-color: var(--color-neutral-grey-100);
}

.dropdownOption:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dropdownOption:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.checkbox {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--color-primary-500);
    font-weight: bold;
    flex-shrink: 0;
}


.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}