services:
  postgres:
    image: postgres:16-alpine
    container_name: pg-dev
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app -d app" ]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: fastapi-dev
    environment:
      ENV: dev
      PYTHONPATH: /app/src
      LOG_LEVEL: DEBUG
      DATABASE_URL: postgresql+asyncpg://app:app@postgres:5432/app
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
      - "5678:5678"
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      python -Xfrozen_modules=off -m debugpy --listen 0.0.0.0:5678 -m uvicorn app.main:app --app-dir src --host 0.0.0.0 --port 8000 --reload

volumes:
  pg_data:
