.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.teams {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.teamContainer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teamTitle {
    color: var(--color-primary-900);
    font-size: 1.25rem;
    font-weight: 600;
}

.teamSubtitle {
    color: var(--color-neutral-grey-500);
    font-size: 0.875rem;
}

.teamMemberContainer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.topContainer {
    display: flex;
    gap: 12px;
}

.name {
    color: var(--color-primary-900);
    font-weight: 500;
}

.email {
    color: var(--color-neutral-grey-400);
    font-size: 0.875rem;
}

.workingOn {
    color: var(--color-neutral-grey-400);
    font-size: 0.875rem;
}

.project {
    color: var(--color-neutral-grey-600);
    font-size: 0.875rem;
}

.pp {
    border-radius: 50%;
    background-color: var(--color-primary-500);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}