@import 'tailwindcss';

:root {
    font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --box-shadow:
        0 4px 10px rgba(0, 0, 100, 0.2), 0 1px 3px rgba(0, 0, 255, 0.06);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--box-shadow);
}

.iconPlaceholder {
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background-color: #0066cc;
}

.separator {
    width: 100%;
    background-color: rgba(0, 0, 100, 0.2);
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}
