.leftBarContainer {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e4e4e4;
    height: 100%;
    justify-content: flex-start;
    align-items: start;
}

.efsoraBrand {
    width: 130px;
    height: auto;
    margin: 20px;
}

.brandContainer {
    width: 100%;
}
