.leftBarContainer {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e4e4e4;
    height: 100%;
    justify-content: flex-start;
    align-items: start;
    width: 0px;
}

.efsoraBrand {
    width: 160px;
    height: auto;
}

.brands {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 20px;
    width: fit-content;
}

.brandContainer {
    width: 100%;
    padding: 4px;
}

.customerContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: auto;
    margin-top: 0;
    position: relative;
}

.customerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 4px;
    width: 100%;
}

.customerButton:hover {
    background-color: var(--color-primary-50);
}

.customerButton:focus-visible {
    outline: 2px solid var(--color-primary-900);
    outline-offset: 2px;
}

.dropdownIcon {
    flex-shrink: 0;
}

.customerTitle {
    font-size: 20px;
    color: var(--color-primary-900);
    font-weight: 600;
}

.customerSubtitle {
    font-size: 11px;
    color: var(--color-primary-900);
    margin-top: 2px;
}